chapter_8/azure/deployment(Conflicted copy 2025-05-28 from CRAZYTHOUGHTS).yaml
chapter_8/azure/decBERTa/config.json
chapter_8/azure/decBERTa/merges.txt
chapter_8/azure/decBERTa/model.safetensors
chapter_8/azure/decBERTa/training_args.bin
chapter_8/azure/decBERTa/vocab.json
chapter_8/nano/distilgpt2.onnx
chapter_8/nano/distilgpt2-chat-onnx-simple/config.json
chapter_8/nano/distilgpt2-chat-onnx-simple/generation_config.json
chapter_8/nano/distilgpt2-chat-onnx-simple/merges.txt
chapter_8/nano/distilgpt2-chat-onnx-simple/model.onnx
chapter_8/nano/distilgpt2-chat-onnx-simple/special_tokens_map.json
chapter_8/nano/distilgpt2-chat-onnx-simple/tokenizer_config.json
chapter_8/nano/distilgpt2-chat-onnx-simple/tokenizer.json
chapter_8/nano/distilgpt2-chat-onnx-simple/vocab.json
chapter_8/nano/gpt2-chat-onnx-simple/config.json
chapter_8/nano/gpt2-chat-onnx-simple/generation_config.json
chapter_8/nano/gpt2-chat-onnx-simple/merges.txt
chapter_8/nano/gpt2-chat-onnx-simple/model.onnx
chapter_8/nano/gpt2-chat-onnx-simple/special_tokens_map.json
chapter_8/nano/gpt2-chat-onnx-simple/tokenizer_config.json
chapter_8/nano/gpt2-chat-onnx-simple/tokenizer.json
chapter_8/nano/gpt2-chat-onnx-simple/vocab.json
chapter_8/nano/tinyllama-chat-onnx/config.json
chapter_8/nano/tinyllama-chat-onnx/generation_config.json
chapter_8/nano/tinyllama-chat-onnx/model.onnx
chapter_8/nano/tinyllama-chat-onnx/model.onnx_data
chapter_8/nano/tinyllama-chat-onnx/special_tokens_map.json
chapter_8/nano/tinyllama-chat-onnx/tokenizer_config.json
chapter_8/nano/tinyllama-chat-onnx/tokenizer.json
chapter_8/nano/tinyllama-chat-onnx/tokenizer.model
chapter_8/nano/tinyllama-chat-onnx-simple/config.json
chapter_8/nano/tinyllama-chat-onnx-simple/generation_config.json
chapter_8/nano/tinyllama-chat-onnx-simple/model.onnx
chapter_8/nano/tinyllama-chat-onnx-simple/model.onnx_data
chapter_8/nano/tinyllama-chat-onnx-simple/special_tokens_map.json
chapter_8/nano/tinyllama-chat-onnx-simple/tokenizer_config.json
chapter_8/nano/tinyllama-chat-onnx-simple/tokenizer.json
chapter_8/nano/tinyllama-chat-onnx-simple/tokenizer.model
chapter_7/chapter_7_json.ipynb
